/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Montserrat';
}

/* LAYOUT */
#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* MAIN WINDOW */
#main-window {
    flex-grow: 1;
    display: flex;
}


/* SIDEBAR */
#sidebar {
    flex-basis: 230px; /* larghezza sidebar */
    display: flex;
    flex-direction: column;
}

.sidebar-top {
    flex-grow: 1;
    background: #444;
}

.sidebar-bottom {
    height: 80px; /*debug*/
    background: #222;
}






/* CONTENT */
#content {
    position: relative;
    flex-grow: 1;
    background: #000;
}

#content .content-top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: rgba(100, 50,0, .5);
    z-index: 1;
}

#content .scrollable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /* 90px = height di content-top-bar */
    padding: 90px 15px 30px;
}

#content .content-menu {
    height: 80px; /*debug*/
    background: #222;
}

/* SCROLLABLE - CONTENT */
#content .scrollable .recently,
#content .scrollable.for-user,
#content .scrollable .popular{
  padding-top: 20px;
}

#content .scrollable .box-container{
  display: flex;
  flex-wrap: wrap;
}

#content .scrollable .box-container .box{
  flex-basis: calc(100% / 6);
  text-align: center;
  padding-right: 10px;
}

#content .scrollable .box-container .box img{
  max-width: 100%;
}

#content .scrollable .popular .box-container .box img{
  max-width: 100%;
  border-radius: 50%;
}





/* BOTTOM PLAYER */
#player {
    height: 80px; /*debug*/
    background: #333;
}
