/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #fff;
  font-family: 'Montserrat';
}

a{
  text-decoration: none;
  color: white;
}

/* UTILITY */
.u-vanilla-list{
  list-style: none;
}

.u-inline-block{
  display: inline-block;
}

.u-inline-block li{
  display: inline-block;
}

.u-box-container{
  display: flex;
  flex-wrap: wrap;
}


/* LAYOUT */
#app{
  display: flex;
  flex-direction: column;
  height: 100vh;
}


/* MAIN WINDOW */
#main-window{
  flex-grow: 1;
  display: flex;
}

/* SIDEBAR */
#sidebar{
  flex-basis: 200px; /* larghezza sidebar */
  display: flex;
  flex-direction: column;
}

/* SIDEBAR: TOP */
#sidebar .sidebar__top{
  position: relative;
  flex-grow: 1;
  background: black;
}

#sidebar .sidebar__top .top__logo{
  display: flex;
  align-items: center;
  padding: 10px;
}

#sidebar .sidebar__top .top__logo img{
  max-width: 20px;
  margin-right: 5px;
}

#sidebar .sidebar__top .sidebar__button__line{
  display: flex;
  align-items: center;
  border-left: 2px solid transparent;
  margin-bottom: 5px;
  padding-left: 8px;
}

#sidebar .sidebar__top .sidebar__button__line:hover{
  border-left: 2px solid #86C52E;
}

#sidebar .sidebar__top img{
  max-width: 20px;
  margin-right: 5px;
}

#sidebar .sidebar__top li{
  padding-left: 8px;
}

#sidebar .sidebar__bottom{
  background-color: black;
  padding-left: 8px;
}

#sidebar .sidebar__bottom .bottom__install-app{
  width: 95%;
  border-bottom: 1px solid white;
}

#sidebar .sidebar__bottom .bottom__user-logo{
  padding: 10px 0;
  font-size: 12px;
}

#sidebar .sidebar__bottom .bottom__user-logo i{
  padding-right: 5px;
}

/* CONTENT */
#content{
  position: relative;
  flex-grow: 1;
  background: #000;
}

/* TOP BAR */
#content .content__top-bar{
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background: #080B10;
  z-index: 1;
}

#content .content__top-bar .top-bar__upgrade{
  position: absolute;
  display: inline-block;
  right: 20px ;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid white;
  border-radius: 30px;
  padding: 6px 20px;
  font-size: 10px;
}

/* SCROLLABLE */
#content .content__scrollable{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #141820;
  /* 90px = height di content-top-bar */
  padding: 60px 15px 30px;
}

/* SCROLLABLE - CONTENT MENU */
#content .scrollable__top-menu{
  text-align: center;
  padding-top: 15px;
}

#content .scrollable__top-menu li{
  padding-right: 10px;
}

#content .scrollable__top-menu a{
  position: relative;
}

#content .scrollable__top-menu a:after{
  content: "";
  position: absolute;
  height: 2px;
  background-color: #86C52E;
  bottom: -5px;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

#content .scrollable__top-menu a:hover:after{
  opacity: 1;
}

/* SCROLLABLE - CONTENT */
#content .content__scrollable .scrollable__recently,
#content .content__scrollable.scrollable__for-user,
#content .content__scrollable .scrollable__popular{
  padding-top: 20px;
}

#content .content__scrollable .u-box-container .box{
  flex-basis: calc(100% / 6);
  text-align: center;
  padding-right: 10px;
}

#content .content__scrollable .u-box-container .box img{
  width: 100%;
}

#content .content__scrollable .scrollable__popular .u-box-container .box img{
  width: 100%;
  border-radius: 50%;
}



/* BOTTOM PLAYER */
#player{
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#player .player__left{
  display: flex;
  align-items: center;
}

#player .left__img-album img{
  height: 40px;
}

#player .player__center .center__song-commands{
  text-align: center;
}

#player .player__center .center__song-bar .song-bar__box-bar{
  position: relative;
  width: 500px;
}

#player .player__right .song-bar__box-bar{
  position: relative;
  width: 80px;
}

#player .song-bar--grey-line{
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: grey;
}

#player .song-bar--white-line{
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 2px;
  width: 30%;
  background-color: white;
  z-index: 2;
}

/* RESPONSIVE */

@media (max-width: 1919px) and (min-width: 1024px){
  #content .content__scrollable .u-box-container .box{
    flex-basis: calc(100% / 4);
  }
}

@media (max-width: 1023px){
  #content .content__scrollable .u-box-container .box{
    flex-basis: calc(100% / 2);
  }

  #sidebar h1,
  #sidebar h2,
  #sidebar h5,
  #sidebar h6,
  #sidebar .button__plus{
    display: none;
  }

  #sidebar{
    flex-basis: 40px; /* larghezza sidebar */
  }

  #player .player__center .center__song-bar .song-bar__box-bar {
    position: relative;
    width: 200px;
  }

  #sidebar .sidebar__bottom .bottom__install-app{
    border-bottom: 0;
  }
}
